:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #d1a987;
    --color-secondary: #243836;
    --color-dark: #152120;
    --color-bg: #161c1c;

    /* Fonts */
    --font-roboto: "Roboto";
}